/* [next]/internal/font/google/geist_e531dabc.module.css [app-client] (css) */
@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwSGFWNOITddY4-s.81df3a5b.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/gyByhwUxId8gMEwcGFWNOITd-s.p.da1ebef7.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Fallback;
  src: local(Arial);
  ascent-override: 95.94%;
  descent-override: 28.16%;
  line-gap-override: 0.0%;
  size-adjust: 104.76%;
}

.geist_e531dabc-module__QGiZLq__className {
  font-family: Geist, Geist Fallback;
  font-style: normal;
}

.geist_e531dabc-module__QGiZLq__variable {
  --font-geist-sans: "Geist", "Geist Fallback";
}


/* [next]/internal/font/google/geist_mono_68a01160.module.css [app-client] (css) */
@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrkdmhHkjkotbA-s.e32db976.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Geist Mono;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("../media/or3nQ6H_1_WfwkMZI_qYFrcdmhHkjko-s.p.be19f591.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Geist Mono Fallback;
  src: local(Arial);
  ascent-override: 74.67%;
  descent-override: 21.92%;
  line-gap-override: 0.0%;
  size-adjust: 134.59%;
}

.geist_mono_68a01160-module__YLcDdW__className {
  font-family: Geist Mono, Geist Mono Fallback;
  font-style: normal;
}

.geist_mono_68a01160-module__YLcDdW__variable {
  --font-geist-mono: "Geist Mono", "Geist Mono Fallback";
}


/* [project]/node_modules/weather-icons/css/weather-icons.min.css [app-client] (css) */
@font-face {
  font-family: weathericons;
  src: url("../media/weathericons-regular-webfont.5458ee6b.eot");
  src: url("../media/weathericons-regular-webfont.5458ee6b.eot") format("embedded-opentype"), url("../media/weathericons-regular-webfont.441de43f.woff") format("woff"), url("../media/weathericons-regular-webfont.6fa07832.ttf") format("truetype"), url("../media/weathericons-regular-webfont.08ec9067.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.wi {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: weathericons;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
}

.wi-day-cloudy-gusts:before {
  content: "";
}

.wi-day-cloudy-windy:before {
  content: "";
}

.wi-day-cloudy:before {
  content: "";
}

.wi-day-fog:before {
  content: "";
}

.wi-day-hail:before {
  content: "";
}

.wi-day-lightning:before {
  content: "";
}

.wi-day-rain-mix:before {
  content: "";
}

.wi-day-rain-wind:before {
  content: "";
}

.wi-day-rain:before {
  content: "";
}

.wi-day-showers:before {
  content: "";
}

.wi-day-snow:before {
  content: "";
}

.wi-day-sprinkle:before {
  content: "";
}

.wi-day-sunny-overcast:before {
  content: "";
}

.wi-day-sunny:before {
  content: "";
}

.wi-day-storm-showers:before {
  content: "";
}

.wi-day-thunderstorm:before {
  content: "";
}

.wi-cloudy-gusts:before {
  content: "";
}

.wi-cloudy-windy:before {
  content: "";
}

.wi-cloudy:before {
  content: "";
}

.wi-fog:before {
  content: "";
}

.wi-hail:before {
  content: "";
}

.wi-rain-mix:before {
  content: "";
}

.wi-rain-wind:before {
  content: "";
}

.wi-rain:before {
  content: "";
}

.wi-showers:before {
  content: "";
}

.wi-snow:before {
  content: "";
}

.wi-sprinkle:before {
  content: "";
}

.wi-storm-showers:before {
  content: "";
}

.wi-thunderstorm:before {
  content: "";
}

.wi-windy:before {
  content: "";
}

.wi-night-alt-cloudy-gusts:before {
  content: "";
}

.wi-night-alt-cloudy-windy:before {
  content: "";
}

.wi-night-alt-hail:before {
  content: "";
}

.wi-night-alt-lightning:before {
  content: "";
}

.wi-night-alt-rain-mix:before {
  content: "";
}

.wi-night-alt-rain-wind:before {
  content: "";
}

.wi-night-alt-rain:before {
  content: "";
}

.wi-night-alt-showers:before {
  content: "";
}

.wi-night-alt-snow:before {
  content: "";
}

.wi-night-alt-sprinkle:before {
  content: "";
}

.wi-night-alt-storm-showers:before {
  content: "";
}

.wi-night-alt-thunderstorm:before {
  content: "";
}

.wi-night-clear:before {
  content: "";
}

.wi-night-cloudy-gusts:before {
  content: "";
}

.wi-night-cloudy-windy:before {
  content: "";
}

.wi-night-cloudy:before {
  content: "";
}

.wi-night-hail:before {
  content: "";
}

.wi-night-lightning:before {
  content: "";
}

.wi-night-rain-mix:before {
  content: "";
}

.wi-night-rain-wind:before {
  content: "";
}

.wi-night-rain:before {
  content: "";
}

.wi-night-showers:before {
  content: "";
}

.wi-night-snow:before {
  content: "";
}

.wi-night-sprinkle:before {
  content: "";
}

.wi-night-storm-showers:before {
  content: "";
}

.wi-night-thunderstorm:before {
  content: "";
}

.wi-celsius:before {
  content: "";
}

.wi-cloud-down:before {
  content: "";
}

.wi-cloud-refresh:before {
  content: "";
}

.wi-cloud-up:before {
  content: "";
}

.wi-cloud:before {
  content: "";
}

.wi-degrees:before {
  content: "";
}

.wi-down-left:before {
  content: "";
}

.wi-down:before {
  content: "";
}

.wi-fahrenheit:before {
  content: "";
}

.wi-horizon-alt:before {
  content: "";
}

.wi-horizon:before {
  content: "";
}

.wi-left:before {
  content: "";
}

.wi-lightning:before {
  content: "";
}

.wi-night-fog:before {
  content: "";
}

.wi-refresh-alt:before {
  content: "";
}

.wi-refresh:before {
  content: "";
}

.wi-right:before {
  content: "";
}

.wi-sprinkles:before {
  content: "";
}

.wi-strong-wind:before {
  content: "";
}

.wi-sunrise:before {
  content: "";
}

.wi-sunset:before {
  content: "";
}

.wi-thermometer-exterior:before {
  content: "";
}

.wi-thermometer-internal:before {
  content: "";
}

.wi-thermometer:before {
  content: "";
}

.wi-tornado:before {
  content: "";
}

.wi-up-right:before {
  content: "";
}

.wi-up:before {
  content: "";
}

.wi-wind-west:before {
  content: "";
}

.wi-wind-south-west:before {
  content: "";
}

.wi-wind-south-east:before {
  content: "";
}

.wi-wind-south:before {
  content: "";
}

.wi-wind-north-west:before {
  content: "";
}

.wi-wind-north-east:before {
  content: "";
}

.wi-wind-north:before {
  content: "";
}

.wi-wind-east:before {
  content: "";
}

.wi-smoke:before {
  content: "";
}

.wi-dust:before {
  content: "";
}

.wi-snow-wind:before {
  content: "";
}

.wi-day-snow-wind:before {
  content: "";
}

.wi-night-snow-wind:before {
  content: "";
}

.wi-night-alt-snow-wind:before {
  content: "";
}

.wi-day-sleet-storm:before {
  content: "";
}

.wi-night-sleet-storm:before {
  content: "";
}

.wi-night-alt-sleet-storm:before {
  content: "";
}

.wi-day-snow-thunderstorm:before {
  content: "";
}

.wi-night-snow-thunderstorm:before {
  content: "";
}

.wi-night-alt-snow-thunderstorm:before {
  content: "";
}

.wi-solar-eclipse:before {
  content: "";
}

.wi-lunar-eclipse:before {
  content: "";
}

.wi-meteor:before {
  content: "";
}

.wi-hot:before {
  content: "";
}

.wi-hurricane:before {
  content: "";
}

.wi-smog:before {
  content: "";
}

.wi-alien:before {
  content: "";
}

.wi-snowflake-cold:before {
  content: "";
}

.wi-stars:before {
  content: "";
}

.wi-night-partly-cloudy:before {
  content: "";
}

.wi-umbrella:before {
  content: "";
}

.wi-day-windy:before {
  content: "";
}

.wi-night-alt-cloudy:before {
  content: "";
}

.wi-up-left:before {
  content: "";
}

.wi-down-right:before {
  content: "";
}

.wi-time-12:before {
  content: "";
}

.wi-time-1:before {
  content: "";
}

.wi-time-2:before {
  content: "";
}

.wi-time-3:before {
  content: "";
}

.wi-time-4:before {
  content: "";
}

.wi-time-5:before {
  content: "";
}

.wi-time-6:before {
  content: "";
}

.wi-time-7:before {
  content: "";
}

.wi-time-8:before {
  content: "";
}

.wi-time-9:before {
  content: "";
}

.wi-time-10:before {
  content: "";
}

.wi-time-11:before {
  content: "";
}

.wi-day-sleet:before {
  content: "";
}

.wi-night-sleet:before {
  content: "";
}

.wi-night-alt-sleet:before {
  content: "";
}

.wi-sleet:before {
  content: "";
}

.wi-day-haze:before {
  content: "";
}

.wi-beafort-0:before {
  content: "";
}

.wi-beafort-1:before {
  content: "";
}

.wi-beafort-2:before {
  content: "";
}

.wi-beafort-3:before {
  content: "";
}

.wi-beafort-4:before {
  content: "";
}

.wi-beafort-5:before {
  content: "";
}

.wi-beafort-6:before {
  content: "";
}

.wi-beafort-7:before {
  content: "";
}

.wi-beafort-8:before {
  content: "";
}

.wi-beafort-9:before {
  content: "";
}

.wi-beafort-10:before {
  content: "";
}

.wi-beafort-11:before {
  content: "";
}

.wi-beafort-12:before {
  content: "";
}

.wi-wind-default:before {
  content: "";
}

wi-wind-default._0-deg {
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}

wi-wind-default._15-deg {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

wi-wind-default._30-deg {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

wi-wind-default._45-deg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

wi-wind-default._60-deg {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}

wi-wind-default._75-deg {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg);
}

wi-wind-default._90-deg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

wi-wind-default._105-deg {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg);
}

wi-wind-default._120-deg {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
}

wi-wind-default._135-deg {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

wi-wind-default._150-deg {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg);
}

wi-wind-default._165-deg {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg);
}

wi-wind-default._180-deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

wi-wind-default._195-deg {
  -webkit-transform: rotate(195deg);
  -moz-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  -o-transform: rotate(195deg);
  transform: rotate(195deg);
}

wi-wind-default._210-deg {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg);
}

wi-wind-default._225-deg {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}

wi-wind-default._240-deg {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg);
}

wi-wind-default._255-deg {
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  transform: rotate(255deg);
}

wi-wind-default._270-deg {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

wi-wind-default._285-deg {
  -webkit-transform: rotate(295deg);
  -moz-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  -o-transform: rotate(295deg);
  transform: rotate(295deg);
}

wi-wind-default._300-deg {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg);
}

wi-wind-default._315-deg {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
}

wi-wind-default._330-deg {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg);
}

wi-wind-default._345-deg {
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg);
}

.wi-moon-new:before {
  content: "";
}

.wi-moon-waxing-cresent-1:before {
  content: "";
}

.wi-moon-waxing-cresent-2:before {
  content: "";
}

.wi-moon-waxing-cresent-3:before {
  content: "";
}

.wi-moon-waxing-cresent-4:before {
  content: "";
}

.wi-moon-waxing-cresent-5:before {
  content: "";
}

.wi-moon-waxing-cresent-6:before {
  content: "";
}

.wi-moon-first-quarter:before {
  content: "";
}

.wi-moon-waxing-gibbous-1:before {
  content: "";
}

.wi-moon-waxing-gibbous-2:before {
  content: "";
}

.wi-moon-waxing-gibbous-3:before {
  content: "";
}

.wi-moon-waxing-gibbous-4:before {
  content: "";
}

.wi-moon-waxing-gibbous-5:before {
  content: "";
}

.wi-moon-waxing-gibbous-6:before {
  content: "";
}

.wi-moon-full:before {
  content: "";
}

.wi-moon-waning-gibbous-1:before {
  content: "";
}

.wi-moon-waning-gibbous-2:before {
  content: "";
}

.wi-moon-waning-gibbous-3:before {
  content: "";
}

.wi-moon-waning-gibbous-4:before {
  content: "";
}

.wi-moon-waning-gibbous-5:before {
  content: "";
}

.wi-moon-waning-gibbous-6:before {
  content: "";
}

.wi-moon-3rd-quarter:before {
  content: "";
}

.wi-moon-waning-crescent-1:before {
  content: "";
}

.wi-moon-waning-crescent-2:before {
  content: "";
}

.wi-moon-waning-crescent-3:before {
  content: "";
}

.wi-moon-waning-crescent-4:before {
  content: "";
}

.wi-moon-waning-crescent-5:before {
  content: "";
}

.wi-moon-waning-crescent-6:before {
  content: "";
}


/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-rotate-x: rotateX(0);
      --tw-rotate-y: rotateY(0);
      --tw-rotate-z: rotateZ(0);
      --tw-skew-x: skewX(0);
      --tw-skew-y: skewY(0);
      --tw-border-style: solid;
      --tw-font-weight: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
    }
  }
}

@layer theme {
  :root, :host {
    --color-blue-400: oklch(70.7% .165 254.624);
    --color-blue-500: oklch(62.3% .214 259.815);
    --color-pink-400: oklch(71.8% .202 349.761);
    --color-pink-500: oklch(65.6% .241 354.308);
    --color-gray-50: oklch(98.5% .002 247.839);
    --color-gray-200: oklch(92.8% .006 264.531);
    --color-gray-300: oklch(87.2% .01 258.338);
    --color-gray-400: oklch(70.7% .022 261.325);
    --color-gray-500: oklch(55.1% .027 264.364);
    --color-gray-700: oklch(37.3% .034 259.733);
    --color-gray-800: oklch(27.8% .033 256.848);
    --color-gray-900: oklch(21% .034 264.665);
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --container-md: 28rem;
    --container-lg: 32rem;
    --container-xl: 36rem;
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-xl: 1.25rem;
    --text-xl--line-height: calc(1.75 / 1.25);
    --text-2xl: 1.5rem;
    --text-2xl--line-height: calc(2 / 1.5);
    --text-3xl: 1.875rem;
    --text-3xl--line-height: calc(2.25 / 1.875);
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --radius-md: .375rem;
    --radius-lg: .5rem;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-geist-sans);
    --default-mono-font-family: var(--font-geist-mono);
  }
}

@layer base {
  *, :after, :before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea, ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit, ::-webkit-datetime-edit-year-field, ::-webkit-datetime-edit-month-field, ::-webkit-datetime-edit-day-field, ::-webkit-datetime-edit-hour-field, ::-webkit-datetime-edit-minute-field, ::-webkit-datetime-edit-second-field, ::-webkit-datetime-edit-millisecond-field, ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]), ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .inset-y-0 {
    inset-block: calc(var(--spacing) * 0);
  }

  .start-0 {
    inset-inline-start: calc(var(--spacing) * 0);
  }

  .end-2\.5 {
    inset-inline-end: calc(var(--spacing) * 2.5);
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .bottom-0 {
    bottom: calc(var(--spacing) * 0);
  }

  .bottom-2\.5 {
    bottom: calc(var(--spacing) * 2.5);
  }

  .z-10 {
    z-index: 10;
  }

  .container {
    width: 100%;
  }

  @media (width >= 40rem) {
    .container {
      max-width: 40rem;
    }
  }

  @media (width >= 48rem) {
    .container {
      max-width: 48rem;
    }
  }

  @media (width >= 64rem) {
    .container {
      max-width: 64rem;
    }
  }

  @media (width >= 80rem) {
    .container {
      max-width: 80rem;
    }
  }

  @media (width >= 96rem) {
    .container {
      max-width: 96rem;
    }
  }

  .mx-1 {
    margin-inline: calc(var(--spacing) * 1);
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mt-4 {
    margin-top: calc(var(--spacing) * 4);
  }

  .mt-10 {
    margin-top: calc(var(--spacing) * 10);
  }

  .mb-2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .mb-3 {
    margin-bottom: calc(var(--spacing) * 3);
  }

  .mb-4 {
    margin-bottom: calc(var(--spacing) * 4);
  }

  .mb-6 {
    margin-bottom: calc(var(--spacing) * 6);
  }

  .mb-10 {
    margin-bottom: calc(var(--spacing) * 10);
  }

  .mb-20 {
    margin-bottom: calc(var(--spacing) * 20);
  }

  .mb-30 {
    margin-bottom: calc(var(--spacing) * 30);
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .h-4 {
    height: calc(var(--spacing) * 4);
  }

  .w-4 {
    width: calc(var(--spacing) * 4);
  }

  .w-300 {
    width: calc(var(--spacing) * 300);
  }

  .w-400 {
    width: calc(var(--spacing) * 400);
  }

  .w-500 {
    width: calc(var(--spacing) * 500);
  }

  .w-\[400\], .w-\[400px\] {
    width: 400px;
  }

  .w-full {
    width: 100%;
  }

  .max-w-lg {
    max-width: var(--container-lg);
  }

  .max-w-md {
    max-width: var(--container-md);
  }

  .max-w-xl {
    max-width: var(--container-xl);
  }

  .transform {
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z) var(--tw-skew-x) var(--tw-skew-y);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-row {
    flex-direction: row;
  }

  .items-center {
    align-items: center;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .gap-7 {
    gap: calc(var(--spacing) * 7);
  }

  .gap-15 {
    gap: calc(var(--spacing) * 15);
  }

  .gap-20 {
    gap: calc(var(--spacing) * 20);
  }

  .rounded-lg {
    border-radius: var(--radius-lg);
  }

  .rounded-md {
    border-radius: var(--radius-md);
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-2 {
    border-style: var(--tw-border-style);
    border-width: 2px;
  }

  .border-gray-200 {
    border-color: var(--color-gray-200);
  }

  .border-gray-300 {
    border-color: var(--color-gray-300);
  }

  .bg-\[\#999\] {
    background-color: #999;
  }

  .bg-\[\#5626f3\] {
    background-color: #5626f3;
  }

  .bg-gray-50 {
    background-color: var(--color-gray-50);
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-white\/20 {
    background-color: #fff3;
  }

  @supports (color: color-mix(in lab, red, red)) {
    .bg-white\/20 {
      background-color: color-mix(in oklab, var(--color-white) 20%, transparent);
    }
  }

  .p-2 {
    padding: calc(var(--spacing) * 2);
  }

  .p-4 {
    padding: calc(var(--spacing) * 4);
  }

  .px-3 {
    padding-inline: calc(var(--spacing) * 3);
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .py-1 {
    padding-block: calc(var(--spacing) * 1);
  }

  .py-2 {
    padding-block: calc(var(--spacing) * 2);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-10 {
    padding-block: calc(var(--spacing) * 10);
  }

  .ps-3 {
    padding-inline-start: calc(var(--spacing) * 3);
  }

  .ps-10 {
    padding-inline-start: calc(var(--spacing) * 10);
  }

  .pt-40 {
    padding-top: calc(var(--spacing) * 40);
  }

  .text-center {
    text-align: center;
  }

  .font-\[family-name\:var\(--font-geist-sans\)\] {
    font-family: var(--font-geist-sans);
  }

  .text-2xl {
    font-size: var(--text-2xl);
    line-height: var(--tw-leading, var(--text-2xl--line-height));
  }

  .text-3xl {
    font-size: var(--text-3xl);
    line-height: var(--tw-leading, var(--text-3xl--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-xl {
    font-size: var(--text-xl);
    line-height: var(--tw-leading, var(--text-xl--line-height));
  }

  .font-bold {
    --tw-font-weight: var(--font-weight-bold);
    font-weight: var(--font-weight-bold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .text-black {
    color: var(--color-black);
  }

  .text-gray-500 {
    color: var(--color-gray-500);
  }

  .text-gray-700 {
    color: var(--color-gray-700);
  }

  .text-gray-800 {
    color: var(--color-gray-800);
  }

  .text-gray-900 {
    color: var(--color-gray-900);
  }

  .text-white {
    color: var(--color-white);
  }

  .capitalize {
    text-transform: capitalize;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, #0000001a), 0 2px 4px -2px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-sm {
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .transition {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to, opacity, box-shadow, transform, translate, scale, rotate, filter, -webkit-backdrop-filter, backdrop-filter;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  @media (hover: hover) {
    .hover\:text-blue-400:hover {
      color: var(--color-blue-400);
    }
  }

  @media (hover: hover) {
    .hover\:text-blue-500:hover {
      color: var(--color-blue-500);
    }
  }

  @media (hover: hover) {
    .hover\:text-pink-400:hover {
      color: var(--color-pink-400);
    }
  }

  @media (hover: hover) {
    .hover\:text-pink-500:hover {
      color: var(--color-pink-500);
    }
  }

  @media (hover: hover) {
    .hover\:opacity-90:hover {
      opacity: .9;
    }
  }

  .focus\:border-\[\#5626f3\]:focus {
    border-color: #5626f3;
  }

  @media (prefers-color-scheme: dark) {
    .dark\:bg-gray-700 {
      background-color: var(--color-gray-700);
    }
  }

  @media (prefers-color-scheme: dark) {
    .dark\:text-gray-400 {
      color: var(--color-gray-400);
    }
  }

  @media (prefers-color-scheme: dark) {
    .dark\:text-white {
      color: var(--color-white);
    }
  }
}

:root {
  --background: #fff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
  initial-value: rotateX(0);
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
  initial-value: rotateY(0);
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
  initial-value: rotateZ(0);
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false;
  initial-value: skewX(0);
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false;
  initial-value: skewY(0);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}


/*# sourceMappingURL=%5Broot-of-the-server%5D__2cb4c996._.css.map*/